* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  direction: rtl;
}

div.subtitle {
  font-weight: 700;
}
